<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/siliconsmiley.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About Static</title>
</head>
<body>
<div class="main-content">
  {{>header}}
  <p>{{moreAbout}}</p>
  About something else.
  <img class="portrait" src="/img/siliconsmiley.jpg" alt="siliconsmiley">
</div>
{{>footer}}
</body>
</html>