<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/siliconsmiley.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Help Static</title>
</head>
<body>
<div class="main-content">
  {{>header}}
  <p>{{itsOK}}</p>
</div>
{{>footer}}
</body>
</html>