<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/siliconsmiley.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Help Static</title>
</head>
<body>
<div class="main-content">
  {{>header}}
  <p>{{itsOK}}</p>
  <img class="portrait" src="https://media3.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif?cid=790b76118eb226208625d6b53f973078f7fae1e4a96ced17&rid=giphy.gif&ct=g" alt="this is fine">

</div>
{{>footer}}
</body>
</html>